<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361571123622-o9uq28r57tqu1mm5q7j6s0kjlahaarf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361571123622-o9uq28r57tqu1mm5q7j6s0kjlahaarf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAXE2xUcy7YXZ7AdaroNOF-xzIU39stDBs</string>
	<key>GCM_SENDER_ID</key>
	<string>361571123622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advert</string>
	<key>PROJECT_ID</key>
	<string>advert-92bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>advert-92bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361571123622:ios:a78136d8406186ab774f67</string>
</dict>
</plist>